


body
{ 
    width: 99% ;
  height: 100%;
  background-image: url(/images/wallpapersden.com_octane-apex-legends_1920x1080.jpg);
  background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
 
 
  
}
img{

    width: 100%;  
    
}

.wrap
{

/* display: flex;
flex-direction: row; */



background-color: rgba(255, 99, 71, 0.281);
   
}

.wrap img
{
 
}



.imagemain
{        
         
       
        width: 100%;
        min-width: 100%;         
         
      
         /* max-width: 100%;  */   
}

.invullingmain
{
padding: 1em ;

color: black;
font-weight: bolder;
font-size: x-large;
text-align: center;
}



#grid
{   
    margin: 1em;
    height: 100%;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto 1FR auto auto auto ;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main "
    "section1 section2 section3"
    "footer footer footer"
    ;
  
    
}

nav
{
 grid-area: nav;
 background-color: darkred;
}
header
{
    grid-area: header;
    background-color:rgba(139, 0, 0, 0.582)

}



.articlemain
{
    grid-area: main;
    background-color: rgba(51, 51, 51, 0.918);
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}
#sec1
{
    grid-area: section1;
    background-color: #eaeaea;
    text-align: center;
    
}
#sec2
{
    grid-area: section2;
    background-color: #eaeaea;
    text-align: center;
    
}
#sec3
{
    grid-area: section3;
    background-color: #eaeaea;
    text-align: center;
    
}
footer
{
 grid-area: footer;
 color:white;
 text-align: center;
}
nav 
{   
    text-align: center;
    grid-area: nav;
    background-color: black;
    
}
nav li 
{
    display: inline-block;
    
}
nav a
{
    color: beige;
    font-size: larger ;
    text-decoration: none;
    padding: 1em;
   
    
}
ul 
{
    list-style-type: none;
}
.ncurrent:hover
{   
    
    background-color: crimson;
    
    
}
.current
{
    color:indianred;
}
.btn
 {   
     display: inline-block;
     background: #eaeaead0;
    
     text-decoration: none;
     padding: 1EM 2em;
     border: 1px solid #666;
     margin: .5em 0;  
     color: #333;
 }

 .btn:hover
 {  background : #333;
    color: #fff;
     
     
 }